header {
    position: sticky;
    top: 0;
    background-color: var(--branco);
    z-index: 3;
    background-color: rgb(255, 255, 255, 1);

}


.cabecalho {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 190px 0 190px;
    font-family: var(--font-nav);
    font-weight: 700;
    height: 80px;

}

.cabecalho_titulo {
    font-family: var(--font-nav);
    color: var(--preto);
    font-weight: 700;
    font-size: 25px;
    display: none;
}

.cabecalho_titulo--bolder {
    color: var(--verde);
    font-size: 28px;
}


.cabecalho_sessao--nav {
    display: flex;
}

.sessao_nav--lista {
    display: flex;
    margin: 0 0 0 18px;
    list-style: none;
    text-align: center;
    align-items: center;

}

.lista_item {
    margin-left: 45px;
    font-size: 20px;

}

.cabecalho_link {
    color: var(--preto);
    text-decoration: none;
}

.botoes_transparente {
    font-family: var(--font-nav);
    font-weight: 700;
    color: var(--preto);
    padding: 12px 40px;
    background-color: transparent;
    border: none;
    font-size: 16px;
}


.botoes_destaque {
    font-family: var(--font-nav);
    font-weight: 700;
    font-size: 14px;
    background-color: var(--verde);
    color: #ffffff;
    padding: 12px 40px;
    border-radius: 8px;
    border: none;
    margin-left: 8px;

}

.dashboard {
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
}


.linha_verde {
    position: absolute;
    margin-top: 120px;
    left: -10%;
    z-index: -1;

}

.dashborad_descricao {
    display: flex;
    flex-direction: column;
    width: 600px;

}

.dashborad_titulo {
    font-family: var(--font-nav);
    font-size: 36px;
    line-height: 50px;
    font-weight: 600;
    margin: 54px 0 30px 0;

}

.b_roxo {
    color: var(--roxo);
}

.dashborad_texto {
    font-family: var(--font-nav);
    font-size: 16px;
    line-height: 27px;
    margin: 16px 0 0 0;
}

.seta_entrar {
    font-size: 22px;
}

@media screen and (max-width: 1600px) {
    .cabecalho {
        padding: 0 100px;
    }

    .lista_item {
        margin-left: 30px;
        font-size: 18px;
    }

    .cabecalho_logo {
        display: none;
    }

    .cabecalho_titulo {
        display: block;
    }

}