.contato {
    padding: 150px 0 100px 0;
    text-align: center;
    background-color: #f9f9f9;
}

.contato_imagem {
    width: 150px;
    height: 150px;
    
}


.contato_titulo {
    font-family: var(--font-nav);
    color: black;
    font-size: 45px;
    line-height: 50px;
    font-weight: 600;
    margin: 30px 0 30px 0;
}

.contato_negrito {
    color: var(--verde);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 400;
}

.contato_botao {
    width: 250px;
    font-family: var(--font-nav);
    font-weight: 700;
    font-size: 22px;
    background-color: var(--roxo);
    color: #ffffff;
    padding: 12px 40px;
    border-radius: 8px;
    border: none;
    /* margin-top: 50px; */

}

.footer {
    background: #1b1c29;
    height: 30vh;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding: 2em 0 3em 0;
}

.footer_titulo--destaque {
    font-family: var(--font-nav);
    color: var(--branco);
    font-size: 32px;
    font-weight: 700;
    margin: 0 0 16px;
}

.uil-footer {
    color: var(--branco);
    font-size: 1.5rem;
    /* padding-top: 1.9rem; */
    padding: 0 0.2em;
}

.footer_titulo {
    text-decoration: none;
    font-family: var(--font-nav);
    font-size: 0.9em;
    color: #7fcc00;
    
}

.footer_link {
    text-decoration: none;
    color: var(--branco);
    font-family: var(--font-nav);    
}

.footer_item {
    padding: 8px 0 16px 0;
}